.headStyle {
  font-weight: 900 !important;
}

.loginTitle {
  font-family: fantasy !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.createaccount {
  text-transform: lowercase !important;
  color: blue !important;
}

.closebutton {
  position: absolute !important;
  right: 0px;
  top: 0px;
  background: teal !important;
}

.buttonColor {
  color: aliceblue !important;
}

.buttonR {
  font-size: 18px !important;
  color: white !important;
  font-weight: 800 !important;
}

.paperstyle {
  min-height: 50vh !important;
  margin-top: 20vh;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatarColor {
  background: green !important;
  width: 80px !important;
  height: 80px !important;
}

.astyle {
  color: blue;
  font-size: 10px;
}

.articlePaper {
  min-height: 140px;
  max-height: 150px;
  overflow: auto;
}

.imageA {
    height: auto;
    overflow: hidden;
}

.selectSection {
  background: cornflowerblue !important;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: rgb(108, 208, 255);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

p {
  position: relative;
  color: rgba(0, 0, 0, .3);
  font-size: 5em
}
p:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: rgb(0, 183, 255);
  animation: loading 8s linear;
  animation-iteration-count: infinite;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}
