.headStyle {
  font-weight: 900 !important;
}

.loginTitle {
  font-family: fantasy !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.createaccount {
  text-transform: lowercase !important;
  color: blue !important;
}

.closebutton {
  position: absolute !important;
  right: 0px;
  top: 0px;
  background: teal !important;
}

.buttonColor {
  color: aliceblue !important;
}

.buttonR {
  font-size: 18px !important;
  color: white !important;
  font-weight: 800 !important;
}

.paperstyle {
  min-height: 50vh !important;
  margin-top: 20vh;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatarColor {
  background: green !important;
  width: 80px !important;
  height: 80px !important;
}

.astyle {
  color: blue;
  font-size: 10px;
}

.articlePaper {
  min-height: 140px;
  max-height: 150px;
  overflow: auto;
}

.imageA {
    height: auto;
    overflow: hidden;
}